*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-url: url(./assets/bg-mobile.jpg);
    --text-color: #ffffff;
    --bg-color: rgba(255, 255, 255, 0.25);
    --border-color: 1px solid #ff0000;
    --surface-color: rgba(255, 255, 255, 0.1);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --highlight-color: rgba(255, 255, 255, 0.2);
}

.light{
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --text-color: #000000;
    --bg-color: rgba(0, 0, 0, 0.25);
    --border-color: 1px solid #04FCF9;
    --surface-color: rgba(0, 0, 0, 0.1);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --highlight-color: rgba(0, 0, 0, 0.2);
}

body{
    width: 100vw;
    background: var(--bg-url) no-repeat top center/cover;
}

body *{
    font-family: 'Inter', sans-serif;;
    color: var(--text-color);
}

#switch{
    position: relative;
    width: 64px;
    margin: 0 auto 20px auto;
    cursor: pointer;
}

#switch > span{
    width: 64px;
    height: 24px;
    display: block;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

#switch > button{
    width: 32px;
    height: 32px;
    background: var(--text-color) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
    animation: slide-out 0.2s;
}

.light #switch > button{
    animation: slide-in 0.4s forwards;
}

.switch > button:hover{
    outline: 8px solid var(--highlight-color);
}

#container{
    width: 100%;
    max-width: 588px;
    margin: 36px auto 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profile{
    width: 279px;
}

ul{
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

ul > a > li{
    background: var(--bg-color);
    list-style: none;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    padding: 16px 90px;
    flex-direction: row;
    border-radius: 50px;
    border: var(--border-color);
    text-decoration: none;
}

ul > a > li > i{
    margin-right: 5px;
    font-size: 20px;
    text-decoration: none;
}

ul > a{
    text-decoration: none;
}

#social{
    margin: 30px auto 0 auto;
}

#social > a{
    text-decoration: none;
}

#social > a > i{
    padding: 10px;
    font-size: 25px;
}

#container > footer{
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 10px;
}

@media (min-width: 700px){
    :root{
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light{
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }

}

@media (max-width: 1063px){
    ul > li{
        text-align: center;
        display: flex;
        width: 45vw;
        flex-direction: column;
        padding: 16px 25px;
    }
}

@keyframes slide-in{
    from{
        left: 0;
    }
    to{
        left: 54%;
    }
}

@keyframes slide-out{
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}